HesapMakinesi/WebContent/wsdl/HesapMakinesi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservis" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservis" xmlns:intf="http://webservis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservis" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="cikarma">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cikarmaResponse">
    <complexType>
     <sequence>
      <element name="cikarmaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="carpma">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="carpmaResponse">
    <complexType>
     <sequence>
      <element name="carpmaReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="toplama">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="toplamaResponse">
    <complexType>
     <sequence>
      <element name="toplamaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="bolme">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="bolmeResponse">
    <complexType>
     <sequence>
      <element name="bolmeReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="bolmeRequest">

      <wsdl:part element="impl:bolme" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toplamaRequest">

      <wsdl:part element="impl:toplama" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="carpmaResponse">

      <wsdl:part element="impl:carpmaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bolmeResponse">

      <wsdl:part element="impl:bolmeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toplamaResponse">

      <wsdl:part element="impl:toplamaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cikarmaResponse">

      <wsdl:part element="impl:cikarmaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cikarmaRequest">

      <wsdl:part element="impl:cikarma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="carpmaRequest">

      <wsdl:part element="impl:carpma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HesapMakinesi">

      <wsdl:operation name="cikarma">

         <wsdl:input message="impl:cikarmaRequest" name="cikarmaRequest">

       </wsdl:input>

         <wsdl:output message="impl:cikarmaResponse" name="cikarmaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="carpma">

         <wsdl:input message="impl:carpmaRequest" name="carpmaRequest">

       </wsdl:input>

         <wsdl:output message="impl:carpmaResponse" name="carpmaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toplama">

         <wsdl:input message="impl:toplamaRequest" name="toplamaRequest">

       </wsdl:input>

         <wsdl:output message="impl:toplamaResponse" name="toplamaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bolme">

         <wsdl:input message="impl:bolmeRequest" name="bolmeRequest">

       </wsdl:input>

         <wsdl:output message="impl:bolmeResponse" name="bolmeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HesapMakinesiSoapBinding" type="impl:HesapMakinesi">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cikarma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cikarmaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cikarmaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="carpma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="carpmaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="carpmaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toplama">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="toplamaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="toplamaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bolme">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bolmeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bolmeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HesapMakinesiService">

      <wsdl:port binding="impl:HesapMakinesiSoapBinding" name="HesapMakinesi">

         <wsdlsoap:address location="http://localhost:8080/HesapMakinesi/services/HesapMakinesi"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
